.gl-form-input,
.gl-form-input.form-control {
  @include gl-bg-white;
  @include gl-font-regular;
  @include gl-font-base;
  @include gl-line-height-normal;
  @include gl-py-3;
  @include gl-px-4;
  @include gl-h-auto;
  @include gl-text-gray-900;
  @include gl-inset-border-1-gray-400;
  @include gl-border-none;
  @include form-control-focus($ignore-warning: true);
  @include gl-appearance-none;

  &:disabled,
  &:not(.form-control-plaintext):not([type='color']):read-only {
    @include gl-bg-gray-10;
    @include gl-inset-border-1-gray-100;
  }

  &:disabled {
    @include gl-cursor-not-allowed;
    @include gl-text-gray-400;
  }

  &:not(.form-control-plaintext):focus {
    @include gl-focus($gl-border-size-1, $gray-900);
    @include gl-text-gray-900;
  }

  &.is-invalid {
    @include gl-inset-border-1-red-500;
    background-image: none;

    &:focus {
      @include gl-focus($gl-border-size-1, $red-500);
    }
  }

  &::placeholder {
    @include gl-text-gray-400;
  }

  &.form-control-plaintext {
    @include gl-shadow-none;
  }
}

.gl-form-input {
  @each $name, $size in $gl-form-input-sizes {
    &-#{$name} {
      max-width: $size;
    }
  }
}
